# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
EVW

# QT
*.pro.user
qcustomplot.h
qcustomplot.cpp
resources.qrc
.qmake.stash
Makefile
qmake_qmake_immediate.qrc
qrc_images.cpp
qrc_images1.cpp
qrc_qmake_qmake_immediate.cpp